<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>WeekEDs</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/all.min.css') }}">
	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css"
		href="{{ url_for('static',filename='styles/bootstrap/css/bootstrap.min.css') }}">
	<!-- owl carousel -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/owl.carousel.css') }}">
	<!-- magnific popup -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/magnific-popup.css') }}">
	<!-- animate css -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/animate.css') }}">
	<!-- mean menu css -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/meanmenu.min.css') }}">
	<!-- main style -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/main.css') }}">
	<!-- responsive -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/responsive.css') }}">
</head>

<body>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->


	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->

	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Melburnian's</p>
							<h1>WeekEDs Without N</h1>
							<div class="hero-btns">
								<p style="color:white;font-size: 150%;">
									A simple website application that gives Melburnian peeps some weekend ideas after
									lockdown.
								</p>
								<p style="color:white">
									Click the button to scrape new data!
								</p>
								<!-- Add a button to activate scraping script -->
								<p><a style="font-size: 200%;" class="boxed-btn" href="/scrape" role="button">Give Me New Data</a></p>
								<p></p>
							</div>
							<p class="subtitle">By Anh Van</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- featured section -->
	<div class="feature-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="featured-text">
						<h2 class="pb-3">What <span class="orange-text">Is On?</span></h2>
						<div class="row">
							{% for news in this_weekend.top_four_news %}
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<a href={{news.link}}><img style="max-width:80%; border-radius:5%;" src={{news.thumbnail}}></a>
									</div>
									<div class="content">
										<h3><a href={{news.link}} class="read-more-btn" style="margin-top:0px;font-size:15px;">{{news.title}}</a></h3>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end featured section -->

	<!-- covid updates section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">
			<div class="content">
				<h4>Quick Check! How Many New Covid Cases Today?</h4>
				<p>Updated On {{this_weekend.covid_update.date_time}} By Vic Government</p><br>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3 style="font-size: 30px;">{{this_weekend.covid_update.active_cases.new_cases}}</h3>
							<p>New Cases (Past 24 Hours)</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3 style="font-size: 30px;">{{this_weekend.covid_update.active_cases.active_cases}}</h3>
							<p>Active Cases</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3 style="font-size: 30px;">{{this_weekend.covid_update.active_cases.international_cases}}
							</h3>
							<p>New Internationally Acquired Cases</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end covid update list section -->



	<!-- start TEST features events section -->

	<div class="product-section mt-150 mb-150 text-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3><span class="orange-text">This Weekend: </span> Top Loved Events</h3>
						<p>Top Followed Events By Melburnians. Let's Go With The Crowd!</p>
					</div>
				</div>
			</div>


			<div class="row">
				{% for events in this_weekend.top_nine_events %}
				<div class="col-lg-4 d-flex align-items-stretch">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{{events.link}}"><img
									src="{{events.thumbnail | default('static/images/error.png', true)}}" alt="..."></a>
						</div>
						<h3>{{events.title}}</h3>
						<p class="product-price"><span>{{events.location}}</span>
							<span>{{events.date_time}}<span>{{events.price}}</span></span>{{events.number_followers}}
							followers
						</p>
						<a href="{{events.link}}" class="cart-btn">Take Me There </a>
					</div>
				</div>
				{% endfor %}
			</div>

		</div>
	</div>
	<!-- end TEST event section -->


	<!-- cart banner section -->
	<section class="cart-banner pt-100 pb-100">
		<div class="container">
			<div class="row clearfix">
				<!--Image Column-->
				<div class="image-column col-lg-6">
					<div class="image">
						<div class="price-box">
							<div class="inner-price">
								<span class="price">
									<strong>Rain Check</strong> <br>
								</span>
							</div>
						</div>
						<img src="{{ url_for('static',filename='styles/img/rain-check.jpeg') }}" alt="">
					</div>
				</div>
				<!--Content Column-->
				<div class="content-column col-lg-6">
					<h3>
						Don't Forget To Check <br>
						<span class="orange-text"><br>The Weather!</span>
					</h3>

					<!-- weather widget start-->
					<a class="weatherwidget-io" href="https://forecast7.com/en/n37d81144d96/melbourne/" data-label_1="MELBOURNE" data-label_2="WEATHER" data-theme="pure" >MELBOURNE WEATHER</a>
					<script>
					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
					</script>
					<!-- weather widget end -->
					<br><a href="http://www.bom.gov.au/vic/forecasts/melbourne.shtml" class="cart-btn btn-lg">See More</a>

				</div>
			</div>
		</div>
	</section>
	<!-- end cart banner section -->


	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div>
					<div class="footer-box about-widget">
						<p style="color:white;font-size:125%">
							Information on this webpage has been scraped using Python with BeautifulSoup,
							Splinter and Selenium modules from multiple sources; stored in a MongoDB database
							and rendered by Flask.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->

	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2021 - Anh Van</a>, All Rights Reserved.</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->

	<!-- jquery -->
	<script src="{{ url_for('static',filename='styles/js/jquery-1.11.3.min.js') }}"></script>
	<!-- bootstrap -->
	<script src="{{ url_for('static',filename='styles/bootstrap/js/bootstrap.min.js') }}"></script>
	<!-- count down -->
	<script src="{{ url_for('static',filename='styles/js/jquery.countdown.js') }}"></script>
	<!-- isotope -->
	<script src="{{ url_for('static',filename='styles/js/jquery.isotope-3.0.6.min.js') }}"></script>
	<!-- waypoints -->
	<script src="{{ url_for('static',filename='styles/js/waypoints.js') }}"></script>
	<!-- owl carousel -->
	<script src="{{ url_for('static',filename='styles/js/owl.carousel.min.js') }}"></script>
	<!-- magnific popup -->
	<script src="{{ url_for('static',filename='styles/js/jquery.magnific-popup.min.js') }}"></script>
	<!-- mean menu -->
	<script src="{{ url_for('static',filename='styles/js/jquery.meanmenu.min.js') }}"></script>
	<!-- sticker js -->
	<script src="{{ url_for('static',filename='styles/js/sticker.js') }}"></script>
	<!-- main js -->
	<script src="{{ url_for('static',filename='styles/js/main.js') }}"></script>

</body>

</html>